<div class="carte" style="background-color: {{ carte.couleurCarte }};">
    <div class="titre icons_menu">
        <span>{{ carte.titreCarte }}</span>
        {% if estParticipantOuProprietaire %}
            <span class="actions">
                <button onclick="openCardView({{ carte.idCarte }})">
                    <img class="icon" src="{{ asset('../ressources/img/editer.png') }}" alt="Éditer la carte">
                </button>

                <!--a href="{{ route('mise_a_jour_carte', {idCarte: carte.idCarte}) }}">
                    <img class="icon" src="{{ asset('../ressources/img/editer.png') }}" alt="Éditer la carte">
                </a-->
                <a href="{{ route('supprimer_carte', {idCarte: carte.idCarte}) }}">
                    <img class="icon" src="{{ asset('../ressources/img/x.png') }}" alt="Supprimer la carte">
                </a>
            </span>
        {% endif %}
    </div>
    <div class="corps">
        {{ carte.descriptifCarte }}
    </div>
    <div class="pied">
        {% for utilisateur in carte.affectationsCarte %}
            <span>{{ utilisateur.prenom }} {{ utilisateur.nom }}</span>
        {% endfor %}
    </div>
</div>