<div class="colonne droppable">
    <div class="titre icons_menu">
        <span>{{ colonne.titreColonne }}</span>
        {% if estParticipant %}
            <span class="actions">
                <a href="{{ route('mise_a_jour_colonne', {idColonne: colonne.idColonne}) }}">
                    <img class="icon" src="{{ asset('../ressources/img/editer.png') }}" alt="Éditer la colonne">
                </a>
                <a href="{{ route('supprimer_colonne', {idColonne: colonne.idColonne}) }}">
                    <img class="icon" src="{{ asset('../ressources/img/x.png') }}" alt="Supprimer la colonne">
                </a>
            </span>
        {% endif %}
    </div>
    <div class="corps">
        {% for carte in cartes %}
            {% include 'carte/carte.html.twig' with {carte: carte, estParticipant: estParticipant} %}
        {% endfor %}
    </div>
    {% if estParticipant %}
        <a class="ajout-tableau" href="{{ route('creation_carte', {idColonne: colonne.idColonne}) }}">
            <div>
                <div class="titre icons_menu btn-ajout">
                    <span>Ajouter une carte</span>
                </div>
            </div>
        </a>
    {% endif %}
</div>